.container{
    /* height: 200vh; */
    background-color: #18191a;
}

.subContainer{
    height: calc(100vh - 60px);
    min-height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.headingContainer{
    padding-bottom: 20px;
}

.heading{
    font-size: 3rem;
    color: white;
    font-family: "Roboto";
}

.subHeading{
    font-size: 1.2rem;
    color: #ccc1b0;
    font-family: "Roboto";
    padding-bottom: 3rem;
}

.createBtn{
    font-size: 1.5rem;
    font-family: "Roboto";
    background-color: #54bab9;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border-radius: 20px;
}

.videoIcon{
    width: 2rem;
    margin-right: 10px;
}

.link{
    color: #54bab9;
    font-size: 1.2rem;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.linkIcon{
    width: 1.5rem;
}
.link>span{
    padding-left: 10px;
}

.info{
    color: #ccc1b0;
    font-size: 1rem;
    font-family: 'Roboto';
    /* padding-left: 20px; */
}