.container{
    display: flex;
    padding: 0 20px;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top:30px;
}

.shiftRight{
    align-items: flex-end;
}

.messageTime{
    font-size: .7rem;
    color:antiquewhite;
    padding: 0 10px;
    margin-bottom: 5px;
}

.message{
    background-color: #18191a85;
    color: white;
    font-size: 1rem;
    padding: 10px;
    max-width: 85%;
    border-radius: 10px;
    /* word-break:break-all ; */
    /* padding: 0 10px; */
}

.message>p{
    margin: 0 10px  ;
}