@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Rubik+Moonrocks&display=swap');

.container{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #18191a;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.logo{
    width: 60px;
    padding: 10px;
}

.title{
    color: white;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 2rem;
}
.timeContainer{
    /* background-color: white; */
}

.time{
    font-size: 1.2rem;
    color: aliceblue;
    font-family: 'Roboto';
}